.hero{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color:#f2f5f7;
    height: 1300px;
    width: 100%;  
}

.hi{
    margin: 50px;
    font-size: 80px;
    font-weight: 500; 
    color: #191d26;
    text-align: left;    
}

.btn{
    font-size: 20px;
    border: none;
}

.link{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    color: #595896;
}

.brookdiv{
   
    margin-top: 300px ;
}

.main{
    display: flex;
    
    border-radius:10rem 15rem;
    
    height: 1000px;
    background-color: rgb(193, 204, 238);
}

button{
    background-color: #565594;
    color: #f2f5f7;
    height: 70px;
    width: 200px;
}
