.hero{ 
    position: relative;
    display: flex;
    flex-direction: row;
    background-color:#f2f5f7;
    width: 100%; 
   
}

.hi{
    margin: 50px;
    font-size: 80px;
    font-weight: 500; 
    color: #191d26;
    text-align: left;    
}

.link{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    color: #595896;
}

.imgdiv{
   margin-top: 150px;
   width:60%; 
}

.imgdiv img{
    width: 100%;
    border-radius:50px 70px;

}

.brookdiv{
    padding: 300px 100px;
    width: 40%;
}

button {
    background-color: #565594;
    color: #f2f5f7;
    height: 70px;
    width: 200px;
    font-size: 20px;
    border: none;
}
