.about{
    display: flex;
    width: 100%;
}

h4{
    display: flex;
    justify-content: left;
    font-size: 500px;
    color: #7b88a8;
}

.history{
     
    
    width: 70%;
}


ol{
    padding: 20px;
}

.skill{
    font-size: 30px;
    width: 30%;
}



