.call{
    display: flex;
    flex-direction: row;
}

.callimg{
    width: 50%;
}

.contact{
    border-radius: 25px;
    width: 100%;
}

.formdiv{
    width: 50%;
}

form{
    width: 100%;
    padding: 100px;
    font-size: 30px; 
}

.formdiv span{
    
    text-align: left;
    font-size: 80px;
    padding:100px;
}

input{
    margin: 30px;
    padding: 10px;
    background-color:#f2f5f7 ;
    border: none;
    width: 800px;
    height: 80px;

}

textarea {
    margin: 30px;
    padding: 10px;
    background-color:#f2f5f7 ;
    border: none;
    width: 800px;
    height: 80px;
}