.footer{
    display: flex;
    flex-direction: row;
    background-color:#565594 ;
    height: 500px;
    
}

.socials{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.footerp{
   margin: 30px;
    font-size: 50px;
    color: aliceblue;
    padding: 80px;
}

.hrefp{
    font-size: 15px;
}